{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container">
        {% if user.is_authenticated %}
            <form action="{% url 'editCPA' user.id %}" method="post">
                <p class="middle"><font color="blue">{{FN}}{{LN}}</font>さんのコンピテンシー評価：本人評価・考察・向上プランを記入し保存して下さい</p>
                {% csrf_token %}
                <table border="1" cellspacing="0">
                    <tr style="background-color: #F0F8FF">
                        <td style="width: 80px;"><font size="1">コンピテンシー</font></td>
                        <td style="width: 320px;"><font size="1">コンピテンシー詳細</font></td>
                        <td style="width: 60px;"><div class="tooltip2"><font size="1">本人評価</font><div class="description2">3.このような行動はよく見られる<br>2.このような行動が見られることがある<br>1.このような行動はほとんど見られない</div></div></td>
                        <td style="width: 60px;"><font size="1">評定者評価</font></td>
                        <td style="width: 320px;"><font size="1">考察</font></td>
                        <td style="width: 320px;"><font size="1">向上プラン</font></td>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B1}}</font></td>
                            <td style="width: 320px;"><font size="1">{{B2}}</td>
                            <td><font size="1">{{data1.CPA22A1C}}</font></td>
                            <td><font size="1">{{data2.0}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22A1K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22A1P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B3}}</td>
                            <td><font size="1">{{data1.CPA22A2C}}</font></td>
                            <td><font size="1">{{data2.1}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22A2K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22A2P}}</font></td></tr>
                        </tr>
                            <tr><td style="width: 320px;"><font size="1">{{B4}}</td>
                            <td><font size="1">{{data1.CPA22A3C}}</font></td>
                            <td><font size="1">{{data2.2}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22A3K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22A3P}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B5}}</font></td>
                            <td style="width: 320px;"><font size="1">{{B6}}</td>
                            <td><font size="1">{{data1.CPA22B1C}}</font></td>
                            <td><font size="1">{{data2.3}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22B1K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22B1P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B7}}</td>
                            <td><font size="1">{{data1.CPA22B2C}}</font></td>
                            <td><font size="1">{{data2.4}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22B2K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22B2P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B8}}</td>
                            <td><font size="1">{{data1.CPA22B3C}}</font></td>
                            <td><font size="1">{{data2.5}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22B3K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22B3P}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B9}}</font></td>
                            <td style="width: 320px;"><font size="1">{{B10}}</td>
                            <td><font size="1">{{data1.CPA22C1C}}</font></td>
                            <td><font size="1">{{data2.6}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22C1K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22C1P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B11}}</td>
                            <td><font size="1">{{data1.CPA22C2C}}</font></td>
                            <td><font size="1">{{data2.7}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22C2K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22C2P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B12}}</td>
                            <td><font size="1">{{data1.CPA22C3C}}</font></td>
                            <td><font size="1">{{data2.8}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22C3K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22C3P}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B13}}</font></td>
                            <td style="width: 320px;"><font size="1">{{B14}}</td>
                            <td><font size="1">{{data1.CPA22D1C}}</font></td>
                            <td><font size="1">{{data2.9}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22D1K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22D1P}}</font></td></tr>
                        </tr>
                       <tr><td style="width: 320px;"><font size="1">{{B15}}</td>
                            <td><font size="1">{{data1.CPA22D2C}}</font></td>
                            <td><font size="1">{{data2.10}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22D2K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22D2P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B16}}</td>
                            <td><font size="1">{{data1.CPA22D3C}}</font></td>
                            <td><font size="1">{{data2.11}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22D3K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22D3P}}</font></td></tr>
                        </tr>
                    </tr>
                    <tr>
                        <tr><td rowspan="3"><font size="1">{{B17}}</font></td>
                        <td style="width: 320px;"><font size="1">{{B18}}</td>
                            <td><font size="1">{{data1.CPA22E1C}}</font></td>
                            <td><font size="1">{{data2.12}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22E1K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22E1P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B19}}</td>
                            <td><font size="1">{{data1.CPA22E2C}}</font></td>
                            <td><font size="1">{{data2.13}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22E2K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22E2P}}</font></td></tr>
                        </tr>
                        <tr><td style="width: 320px;"><font size="1">{{B20}}</td>
                            <td><font size="1">{{data1.CPA22E3C}}</font></td>
                            <td><font size="1">{{data2.14}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22E3K}}</font></td>
                            <td style="width: 320px;"><font size="1">{{data1.CPA22E3P}}</font></td></tr>
                        </tr>
                    </tr>
                </table>
                <br><tr><th><td>
                    <input type="submit" value="保存/戻る" class="button">
                </td></th></tr>   
            </form>   
        {% else %}
        アクセスをお持ちでありません
        {% endif %}
    </body>
</html>