{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/MBO.css' %}">
</head>
    <body class="container">  
        {% if user.is_authenticated %}
            <form action="{% url 'GOAL3' %}" method="post">
                {% for i in data1 %}
                    {{i.first_name}}{{i.last_name}}<br>
                {% endfor %}
                <p class="middle"><font color="blue">{{FN}}&nbsp;{{LN}}</font>さんの目標設定・レビュー （評定者:<font color="blue">{{FN2}}&nbsp;{{LN2}}さん</font>）</p>                
                {% csrf_token %}
                <table border="1" cellspacing="0">
                    <tr style="background-color: #F0F8FF">
                        <td style="width: 240px;"><font size="2">期初目標設定</font></td>
                        <td><font size="2">ウェイト%</font></td>
                        <td style="width: 240px;"><font size="2">期中レビュー</font></td>
                        <td style="width: 240px;"><font size="2">期末レビュー</font></td>
                        <td><font size="2">評価点数</font></td>
                        <td style="width: 240px;"><font size="2">評定者コメント</font></td>
                    </tr>
                    <tr>
                        <td><font size="2">{{data1.0}}</font></td>
                        <td><font size="2">{% if data2.0 != 0 %}{{data2.0}}{% endif %}</font></td>
                        <td><font size="2">{{data3.0}}</font></td>
                        <td><font size="2">{{data4.0}}</font></td>
                        <td style="height: 70px;"><font size="2">{% if data2.0 != 0 %}{{data5.0}}{% endif %}</font></td>
                        <td><font size="2">{{data6.0}}</font></td>
                    </tr>
                    <tr>
                        <td><font size="2">{{data1.1}}</font></td>
                        <td><font size="2">{% if data2.1 != 0 %}{{data2.1}}{% endif %}</font></td>
                        <td><font size="2">{{data3.1}}</font></td>
                        <td><font size="2">{{data4.1}}</font></td>
                        <td style="height: 70px;"><font size="2">{% if data2.1 != 0 %}{{data5.1}}{% endif %}</font></td>
                        <td><font size="2">{{data6.1}}</font></td>
                    </tr>                    
                    <tr>
                        <td><font size="2">{{data1.2}}</font></td>
                        <td><font size="2">{% if data2.2 != 0 %}{{data2.2}}{% endif %}</font></td>
                        <td><font size="2">{{data3.2}}</font></td>
                        <td><font size="2">{{data4.2}}</font></td>
                        <td style="height: 70px;"><font size="2">{% if data2.2 != 0 %}{{data5.2}}{% endif %}</font></td>
                        <td><font size="2">{{data6.2}}</font></td>
                    </tr>
                    <tr>
                        <td><font size="2">{{data1.3}}</font></td>
                        <td><font size="2">{% if data2.3 != 0 %}{{data2.3}}{% endif %}</font></td>
                        <td><font size="2">{{data3.3}}</font></td>
                        <td><font size="2">{{data4.3}}</font></td>
                        <td style="height: 70px;"><font size="2">{% if data2.3 != 0 %}{{data5.3}}{% endif %}</font></td>
                        <td><font size="2">{{data6.3}}</font></td>
                    </tr>
                    <tr>
                        <td><font size="2">{{data1.4}}</font></td>
                        <td><font size="2">{% if data2.4 != 0 %}{{data2.4}}{% endif %}</font></td>
                        <td><font size="2">{{data3.4}}</font></td>
                        <td><font size="2">{{data4.4}}</font></td>
                        <td style="height: 70px;"><font size="2">{% if data2.4 != 0 %}{{data5.4}}{% endif %}</font></td>
                        <td><font size="2">{{data6.4}}</font></td>
                    </tr>
                    <tr>
                        <td><font size="2">{{data1.5}}</font></td>
                        <td><font size="2">{% if data2.5 != 0 %}{{data2.5}}{% endif %}</font></td>
                        <td><font size="2">{{data3.5}}</font></td>
                        <td><font size="2">{{data4.5}}</font></td>
                        <td style="height: 70px;"><font size="2">{% if data2.5 != 0 %}{{data5.5}}{% endif %}</font></td>
                        <td><font size="2">{{data6.5}}</font></td>
                    <tr>
                        <td><font size="2">{{data1.6}}</font></td>
                        <td><font size="2">{% if data2.6 != 0 %}{{data2.6}}{% endif %}</font></td>
                        <td><font size="2">{{data3.6}}</font></td>
                        <td><font size="2">{{data4.6}}</font></td>
                        <td style="height: 70px;"><font size="2">{% if data2.6 != 0 %}{{data5.6}}{% endif %}</font></td>
                        <td><font size="2">{{data6.6}}</font></td>
                    </tr>
                </table>
                {% if sbmt == 0 %}
                    <font color="blue">{{FN}}&nbsp;{{LN}}</font>さんの送信をお待ちください<br>
                {% endif %}
                {% if sbmt == 1 %}
                    目標・ウェイトを確認し承認か差し戻しボタンを押下して下さい。
                    <br>
                    <tr><th><td>
                        <input type="submit" name="DL" value="ダウンロード" class="button3">
                    </td></th></tr> 
                    <tr><th><td>
                        <input type="submit" name="send" value="承認" class="button">
                    </td></th></tr>   
                    <tr><th><td>
                        <input type="submit" name="back" value="差し戻し" class="button4">
                    </td></th></tr>
                {% endif %}
                {% if sbmt == 2 %}
                    <font size="2">承認済みです</font><br>
                    <tr><th><td>
                        <input type="submit" name="DL" value="ダウンロード" class="button3">
                    </td></th></tr> 
                {% endif %}
                <br><td><a href="{% url 'sample' %}"><font size="2">人事システムホーム画面に戻る</font></a></td>       
                </form>
        {% else %}
        アクセスをお持ちでありません
        {% endif %}
    </body>
</html>