<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{% static 'css/MBO.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <h1>ログインIDとパスワードを入力してLoginをクリックして下さい</h1>

<div class="reg">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  
    <table class="reg_form">
    <tr>
    <td><label for="userid">ログインID:</label></td>
    <td><input type="text" name="userid"></td>
    <td><label for="password">パスワード</label></td>
    <td><input type="password" name="password"></td>
    </tr>
    </table>
    <input type="submit" class="button5" value="login">

    <br><br>
    以下のIDとパスワードにてログイン下さい<br>
    山田太郎課長と部下4名の目標管理制度とコンピテンシー評価のシステムサンプルをご覧頂けます<br>
    これらはあくまでサンプルでご希望の機能やフォーマットをカスタムメイドで対応可能ですので是非お問い合わせください<br>
    <br>
    ID:taro.yamada@abccorp.com<br>
    password:taro3442<br>

  </form>
</div>
</body>
</html>