<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="{% static 'css/MBO.css' %}">


</head>
<body>
  <h1>ログインIDとパスワードを入力してLoginをクリックして下さい</h1>

<div class="reg">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  
    <table class="reg_form">
    <tr>
    <td><label for="userid">ログインID:</label></td>
    <td><input type="text" name="userid"></td>
    <td><label for="password">パスワード</label></td>
    <td><input type="password" name="password"></td>
    </tr>
    </table>
  
    <input type="submit" class="btn" value="login">
  </form>
</div>
</body>
</html>